// input
$border-color-hover: #666;
$border-color: #999;
$border-color-light: lighten($border-color,30%);
$border-radius: 4px;
$box-shadow-color: rgba(0, 0, 0, 0.5);
$font-size: 14px;
$input-height: 32px;
$red: #f1453d;
// button
$border-color-hover: #666;
$border-color: #999;
$border-radius: 4px;
$button-active-bg: #eee;
$button-bg: white;
$button-height: 32px;
$color: #333;
$font-size: 14px;
.box-shadow {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15)
}

@mixin box-shadow2 {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15)
}


$grey: #eee;


@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
